:root{
    color-scheme:dark;
}
body{
    font-family:"Times New Roman";
    margin-top:100px;
    word-spacing: 4px;
}

/*header*/

header{
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background-color: #080606;
    display:inline;
}

h1{
    font-size:28px;
    text-align:center;
    text-transform: capitalize;
    font-weight: bolder;
    color: #5eef60;
}

#position{
    font-size:20px;
    
}

/*section*/

section, footer{
    padding:2px 10px;
}

h3{
    font-size:26px;
    color:#5eef60;
    padding-bottom:2px;
    border-bottom:1px solid #094621;
}

/*summary section*/
.sect{
    display:flex;
}

/* .sum{flex:2}
.qualify{flex: 2;} */

.sect img{
    float:right;
    transition:tranform 1s ease;
    border-radius: 10px;
    border: 3px dashed #5eef60;
   
}
.sect img:hover{
    transform:scale(1.5);
    border:3px solid #5eef60;
}
.summary{
    float:left;
    font-size:20px;
    line-height:20px;
    width:100%;
    
}

/*qualification section*/


ul{
    margin:0px;
}

li strong{
    color:#ffffff;
}

li{
    margin-bottom:5px;
    font-size: 20px;
}

/*skills*/
.sec{
    display:flex;
}
.skills{
    flex:2;
}
.form{
    flex:2;
    
}

h4{
    font-size: 20px;
}

.progress-bar {
    width: 600px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #216133;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.percentage {
    display: block;
    height: 100%;
    background-color: rgb(84, 235, 150);
    border-radius: 5px;
    animation: progress 1.5s ease-out 1;
}

.html{
    width: 70%;
}
.css{
    width: 60%;
}
.js {
    width: 50%;
}
.py{
    width:70%;
}

@keyframes progress {
    from {
        width: 0;
    }
}

/*contact section*/
label {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 5px ;
 }

 input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 234px;
    margin-bottom: 20px;
    padding: 5px ;
  }

  textarea {
    border: 1px solid #2F5A78;
    width: 310px;
    margin-bottom: 20px;
    padding: 5px ;
  }
  
  input[type='submit'] {
    background-color:#000000;
    text-shadow:3px 2px 3px #58d448;
    border: 1px solid #5eef60;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  } 

/*footer*/

#copyright{
    text-align:center;
}

footer a{
    text-decoration:none;
    color:#58d448;
    font-size: 20px;
    display:inline;
}

footer a:hover{
    text-decoration:underline;
}



/*only for table
table{
     border-collapse:collapse;   
}
td,th{
    border:1px solid black;
    padding:5px;
}
th{
    color:white;
    background-color:#2F5A78;
}*/


/*this changes*/
/*box-sizing: border-box;*/


